node_modules
**/dist
**/dev-dist
apps/backend-api/bundle
apps/player-web/ios
apps/player-web/android
coverage
.npm-cache
package-lock.json
apps/game-server
apps/player-web/public
docs/archive
# Generated word lists and data
apps/player-web/src/game/words/*.txt
*.min.js
.npm-cache
